apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/part-of: argocd # This label is required to access secret values when OAuth configurations
  name: argocd-iap-oauth-client
  namespace: argocd
type: Opaque
stringData:
  client_id: ${OAUTH_CLIENT_ID} # OAuth Client ID
  client_secret: ${OAUTH_CLIENT_SECRET} # OAuth Client Secret